SECRET_KEY=django-insecure-2)6^=dxpv!r$icc1729r0fmco9u+*@qyk!wn3f$&!!)5q3g7hf
ALLOWED_HOSTS=127.0.0.1 testserver
DEBUG=True
DB_NAME=portal_db
DB_PASSWORD=anypassword
DB_HOST=127.0.0.1
DB_USER=anyuser
DB_VOLUME=./volumes/db
LOG_FILE=./refapi.log
LOG_LEVEL=INFO
